#AboutContainer{
    height: 85vh;
    width: 90vw;
    display: grid;
    grid-template-areas: 'a b';
    grid-template-columns: 50vw 50vw;
    margin: none;
  }

#About-Left{
    grid-area: a;
    text-align: center;
    color: white;
    transform: translateY(-100vh);
    transition: 2s
}

#About-Intro2{
    text-align: center;
    color: white
}

#About-ImageContainer{
    grid-area: b;
    justify-self: center;
    transform: translateX(100vw);
    transition: 2s
}

#vaithPic{
    height: 30vh;
    grid-area: b;

}

#About-Hey{
    font-size: 3vw;
    margin-left: 5vw;
}

#About-Hey-Text{
    margin-left: 5vw;
    font-size: 1.5vw;
    text-align: center;
}

#About-Right-Text{
    font-size: 1.5vw;
    text-align: center;
    color: white;
    transform: translateY(100vh);
    transition: 2s
}
