#AboutContainer{
    height: 85vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 'a b c' 'd d d';
    grid-template-columns: 33vw 33vw 33vw;
    margin: none;
  }

#About-Intro{
    grid-area: a;
    text-align: center;
    color: white
}

#About-ImageContainer{
    grid-area: b;
    justify-self: center
}

#vaithPic{
    
    height: 30vh;
}


#About-Hey-Breakline{
    position: relative;
    height: 0.5vh;
    width: 50%;
    left: 25%;
    background-color: yellow
}