.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(3, 3, 50);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
  margin: 0.5em;
}

.App-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr)
}

#btn1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
#btn2 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}
#btn3 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}
#btn4 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}