.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(3, 3, 50);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-buttons {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

#btn1, #btn2, #btn3, #btn4 {
  max-width: 100px;
  min-width: 100px;
  margin: 0.5em;
}