body{
  height: 100vh;
  width: 100vw;
  background-color: rgb(2, 2, 121);
  margin: none;

}

#App {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas: 'a b c' 'd e f' 'g h i';
  text-align: center;
  
}

#App-logo-container {
  grid-area: e;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center
}


#App-logo {
  height: 40vh;
  
}

#App-logo:hover{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%)
}
