#Contact{
  height: 85vh;
  width: 100vw;
  display: grid;
  grid-template-areas: 'a b c' 'd d d';
  margin: none;
}

#ContactForm{
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-area: b;
  grid-template-areas: 'a' 'b' 'c' 'd' 'e';
  text-align: center;
  margin-top: 10vh;
}
label{
  color: white;
  font-size: 2vw;
}

select { width: 400px; text-align-last:center; }

#ContactFormName, #ContactFormEmail, #ContactFormType, #ContactFormMsg, #ContactFormSubmit{
  width: 50vw;
  text-align: center;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2vw;
  color: rgb(0, 0, 51);
  box-shadow: 0 3px 4px rgb(158, 151, 255);
  border-radius: 1px
} 

::placeholder{
  color: rgb(0, 0, 51)
}

#ContactFormName{
  height: 5vh;
}

#ContactFormEmail{
  height: 5vh;
}

#ContactFormType{
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  -webkit-appearance: none; 
  background-color: white;
}

#ContactFormMsg{
  text-align: left;
  height: 15vh;
}

#ContactFormSubmit{
  height: 5vh;
  position: relative;
  left: 12.5vw;
  width: 25vw;
  color: white;
  font-weight: bold;
  background-color: rgb(3, 3, 153);
  font-family: "Courier New", Courier, monospace
}