#Contact{
  height: 90vh;
  width: 100vw;
  display: grid;
  grid-template-areas: 'a' 'b';
  margin: none;
}

#ContactForm{
  display: grid;
  grid-area: a;
  grid-template-areas: 'a' 'b' 'c' 'd';
  text-align: center;
  padding: 2vw;
  border-radius: 3px 
}