body{

  background-color: rgb(0, 0, 51);
  margin: none;
  font-family: "Courier New", Courier, monospace

}

#Home {
  display: grid;
  height: 85vh;
  width: 100vw;
  grid-template-areas: 'a b c'  'e e e';
  text-align: center;
}

#Home-logo-container {
  grid-area: b;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


#Home-logo {
  height: 40vh; 
}


#homeText{
  grid-area: e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2vw;
}