.maintext {
    background-color: rgb(3, 3, 50);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .cards {
    max-width: 80vmax;
    display: flex;
    /* flex-direction: row; */
    overflow-x: scroll;
  }

  .single-card {
    width: 100%;
    margin: 0.5em;
  }