#Navbar{
    display: grid;
    grid-template-areas: 'a b c d';
    width: 100vw;
    height: 10vh;
    font-size: 3vw;
    color: white
    
}

#Nav-home, #Nav-about, #Nav-contact, #Nav-proj{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
    border: none;
    color: white;
}

#Nav-home:hover{
    background-color: rgba(125, 0, 0, 0.493);
    color: #F9F871;
}

#Nav-proj:hover{
    background-color: rgba(125, 125, 0, 0.5);  
    color: #F9F871;
}

#Nav-about:hover{
    background-color: rgba(0, 125, 125, 0.493);
    color: #F9F871;
}

#Nav-contact:hover{
    background-color: rgba(0, 0, 125, 0.5);
    color: #F9F871;
}