body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#mobileView{
  font-size: 3vw;
  color: white;
  text-align: center;
  position: absolute;
  top: 50vh;
  white-space: nowrap;
  animation: mobileSlide 3s infinite linear;
}

@keyframes mobileSlide{
  from{left: -100vw}
  to{left:100vw}
}
 
/* hide on mobile */
@media only screen and (max-width: 600px) {
  #desktopView {
    display: none;
  }
}

@media (min-width: 650px) and (min-height: 700px){
  #mobileView{
    display: none
  }
}